/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: auto;
}

* {
	font-family: Inder;
}